<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>
           BST - {% block title %}{% endblock %}
        </title>
        <link type="text/css" href="{{ MEDIA_URL}}js/css/smoothness/jquery-ui-1.8.20.custom.css" rel="Stylesheet" />  
        <script type="text/javascript" src="{{ MEDIA_URL}}js/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL}}js/js/jquery-ui-1.8.20.custom.min.js"></script>  
    </head>
    <body>
        <div id="nav">
            <a href="/">home</a> | 
            {% if user.is_authenticated %}
                <a href="/logout">logout</a> |
                <a href="/users/{{ user.username }}/">
                    {{ user.username }}</a>
                
            {% else %}
                <a href="/login/">login</a>
            {% endif %}
        </div>
        {% if user.is_staff %}
        <div>
            <a href="/admin/">Admin Site</a>
        </div>
        {% endif %}
        <h1>{% block head %}{% endblock %}</h1>
        {% block content %}{% endblock %}
    </body>
</html>
