{% extends "base.html" %}
{% block title %}Bienvenido {{ username }}{% endblock %} 
{% block head %}Cuenta de {{ username }}{% endblock %}
{% block content %}
{% if errors %}
    <ul>
        {% for error in errors %}
          <p> 
                <a href="{% url error_detail error.id %}">{{ error.id }}</a> 
                {% if error.usuario_encargado == None %}
                    Sin asignar
                {% else %}
                    Error encontrado para {{ error.usuario_encargado }}
                {% endif %}
          </p>
        {% endfor %}
    </ul>
{% else %}
    No hay errores
{% endif %}
{% endblock %}
